{% extends 'base.html' %}
{% block title %} Admin {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='chart.css') }}">
{% endblock %}

{% block content %}

    <h1>Current Seating Chart</h1>
    
    {% if chart_to_display %}
    <p style="text-align: center;">View the current layout of the aircraft.</p>
    <hr>

    <div class="legend">
        <div class="seat available"></div> <span>Available</span>
        <div class="seat taken"></div> <span>Reserved</span>
    </div>

    <div class="fuselage">
        <div class="cockpit"></div>
        
        {% for row in chart_to_display %}
            {% set row_num = loop.index %}
            <div class="row">
                {% for seat in row %}
                    {% set seat_num = loop.index %}
                    
                    {% if seat == 'O' %}
                        <div class="seat available" 
                                data-row="{{ row_num }}" 
                                data-seat="{{ seat_num }}">
                        </div>
                    {% else %}
                        <div class="seat taken"
                                data-row="{{ row_num }}" 
                                data-seat="{{ seat_num }}">
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <hr>
    <h2>Total Sales</h2>
    <p><strong>${{ total_sales }}</strong></p>

    <hr>

    <h2>Reservations</h2>
    <table border="1" cellpadding="6">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Row</th>
            <th>Seat</th>
            <th>Action</th>
        </tr>

        {% for r in all_reservations %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.passengerName }}</td>
            <td>{{ r.seatRow }}</td>
            <td>{{ r.seatColumn }}</td>
            <td>
                <form action="{{ url_for('delete_reservation', reservation_id=r.id) }}" method="POST" style="margin:0;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
        <h1>Administrator Login</h1>

        <form method="POST" action="{{ url_for('admin') }}" style="max-width: 300px; margin: 0 auto;">
            <label for="username">Username:</label><br>
            <input type="text" name="username" required><br>

            <label for="password">Password:</label><br>
            <input type="password" name="password" required><br>

            <input type="submit" value="Login">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p style="color: red;">{{ messages[0] }}</p>
            {% endif %}
            {% endwith %}
        </form>
    {% endif %}

{% endblock %}
