{% extends 'base.html' %}
{% block title %} Admin {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='chart.css') }}">
{% endblock %}

{% block content %}

    <h1>Current Seating Chart</h1>
    
    <p style="text-align: center;">View the current layout of the aircraft.</p>
    <hr>

    <div class="legend">
        <div class="seat available"></div> <span>Available</span>
        <div class="seat taken"></div> <span>Reserved</span>
    </div>

    <div class="fuselage">
        <div class="cockpit"></div>
        
        {% for row in chart_to_display %}
            {% set row_num = loop.index %}
            <div class="row">
                {% for seat in row %}
                    {% set seat_num = loop.index %}
                    
                    {% if seat == 'O' %}
                        <div class="seat available" 
                                data-row="{{ row_num }}" 
                                data-seat="{{ seat_num }}">
                        </div>
                    {% else %}
                        <div class="seat taken"
                                data-row="{{ row_num }}" 
                                data-seat="{{ seat_num }}">
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}