{% extends 'base.html' %}
{% block title %} Admin Login {% endblock %}

{% block content %}

<h1>Administrator Login</h1>

<form method="POST" action="{{ url_for('admin_login') }}" style="max-width: 300px; margin: 0 auto;">
    <label for="username">Username:</label><br>
    <input type="text" name="username" required><br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" required><br>

    <input type="submit" value="Login">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p style="color: red;">{{ messages[0] }}</p>
      {% endif %}
    {% endwith %}
</form>

{% endblock %}
